/* General Styles */
body {
    font-family: SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}


.leadership-section {
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.leadership-section h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.leadership-section p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.team-member {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.team-member .member-photo {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.team-member #member-photo1 {
    background: url('https://avatars.githubusercontent.com/u/137875488?s=400&v=4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-member #member-photo2 {
    background: url('https://avatars.githubusercontent.com/u/148051608?v=4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-member #member-photo3 {
    background: url('https://avatars.githubusercontent.com/u/179099350?v=4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-member h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 1rem;
    color: #777;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .team-container {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        margin-bottom: 30px;
    }
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}