/* General Style */
body {
    font-family: SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: silver;
    background-color: #111;
}


/* Upload Section */
.upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    /* Full height minus header */
    color: #fff;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ccc;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #007aff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #00438b;
    color: rgb(141, 141, 141);
}

button:hover {
    background-color: #005bb5;
}

#upload-message {
    font-size: 1rem;
    margin-top: 20px;
    color: #ccc;
}

/* Footer */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #aaa;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        padding-left: 0;
        text-align: center;
        margin-top: 10px;
        flex-direction: column;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .container {
        padding: 20px;
        width: 95%;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 18px;
    }

    input[type="file"] {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}